<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма обновления адреса клиента</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<div align="center">
    <h1>Обновить адрес клиента</h1>
    <form th:action="@{/address/save-update-address}" th:object="${client}" method="post">

        <input type="text" th:field="*{clientId}" th:value="${client.getClientId}" hidden/>
        <label for="clientName">Клиент: </label>
        <input type="text" id="clientName" th:field="*{clientName}" th:value="${client.getClientName}" readonly/>
        <br>
        <input name="type" th:field="*{clientType}" th:value="${client.getClientType}" hidden/>
        <input type="text" th:field="*{datereg}" th:value="${client.getDatereg}" hidden/>
        <label for="ip">IP:</label>
        <input type="text" id="ip" th:field="*{ip}" th:value="${client.getIp}"/>
        <div th:if="${#fields.hasErrors('ip')}" class="error-message" th:errors="*{ip}"></div>
        <br>
        <label for="mac">MAC:</label>
        <input type="text" id="mac" th:field="*{mac}" th:value="${client.getMac}"/>
        <div th:if="${#fields.hasErrors('mac')}" class="error-message" th:errors="*{mac}"></div>
        <br>
        <label for="model">Модель: </label>
        <input type="text" id="model" th:field="*{model}" th:value="${client.getModel}"/>
        <div th:if="${#fields.hasErrors('model')}" class="error-message" th:errors="*{model}"></div>
        <br>
        <label for="address">Адрес:</label>
        <input type="text" id="address" th:field="*{address}" th:value="${client.getAddress}"/>
        <div th:if="${#fields.hasErrors('address')}" class="error-message" th:errors="*{address}"></div>
        <br><br>
        <input type="submit" value="Обновить адрес клиента">
    </form>
</div>
</html>
